* {
    font-family: "Orbitron", "Noto Sans KR", sans-serif;
    border-radius: 3px;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

body {
    background-color: #000000;
    color: #aaaaaa;
    font-family: "Orbitron", "Noto Sans KR", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;

    width: 100%;
    height: 100%;

}

header,
aside,
main,
footer {
    border: 1px solid #aaaaaa;
}

button {
    border: none;
    background-color: #aaaaaa;
    color: #000000;
    display: block;
    cursor: pointer;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
    background-image: url("pulse.gif");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center 100px;

    position: relative;
    isolation: isolate;
}

main::after {
    content: '';
    position: absolute;
    background: black;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.wrapper {

    margin: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "header header"
    "aside main"
    "aside main"
    "aside footer";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 70px 1fr 1fr 50px;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    position: relative;
    min-width: 500px;
}

.header-wrapper h1 {
    font-size: 24px;
    font-weight: 700;
    background-color: #aaaaaa;
    color: #000000;
    padding: 5px 10px;
}

.header-wrapper p {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 45px;
}

.aside-buttons {
    margin: 20px;
}

.aside-buttons button {
    width: 100%;
    height: 100px;
    background-color: #000000;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 30px;
    margin-top: 20px;
}

.aside-buttons button:hover {
    background-color: #aaaaaa;
    color: #000000;
}

.aside-content {
    /*border: 1px solid #cccccc;*/
    margin: 20px;
    height: 130px;
    text-align: center;
}

.aside-content h6 {
    background-color: #aaaaaa;
    color: #000000;
    display: inline-block;
    padding: 5px 10px;
}

.main-wrapper {
    margin: 20px;
    line-height: 50px;
    font-size: 24px;
}

.hi {
    background-color: #aaaaaa;
    color: #000000;
    display: inline-block;
    margin-top: 20px;
    width: 250px;
    margin-right: 20px;
    text-align: left;
    padding-left: 10px;
}

.hi2 {
    background-color: #aaaaaa;
    color: #000000;
    display: inline-block;
    margin-top: 20px;
    width: 250px;
    margin-right: 20px;
    text-align: left;
    padding-left: 10px;
}

.main-wrapper h1{
    padding-left: 10px;
    font-size: 30px;
    font-weight: 700;
}


hr {
    border: 2px solid #aaaaaa;
}


.profile {
    display: none;
}

.core-attributes {
    display: none;
}

.current-objectives {
    display: none;
}

.preferred-arsenal {
    display: none;
}

.behavioral-matrix {
    display: none;
}


.dashboard p {
    font-size: 16px;
}


.content-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 100px;
    width: 250px;
    font-size: 35px;
    background-color: #000000;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    font-weight: 700;
}

.content-button:hover {
    background-color: #aaaaaa;
    color: #000000;

}


.access-denied {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1000;
    color: #000000;
    background-color: #a00000;
    text-align: center;
    padding: 50px 150px;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.access-denied h1 {
    font-size: 48px;
}
.access-denied button{
    margin: 0 auto;
    background-color: #000000;
    color: #aaaaaa;
    font-size: 24px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
}
.access-denied button:hover {
    background-color: #aaaaaa;
    color: #000000;
}